{% extends "base.html.twig" %}

{% block title %} SymRecipe - Accueil {% endblock %}

{% block body %}
    <div class="">
        <div class="masthead-subheading">Mano Raichon</div>
        <div class="masthead-heading text-uppercase">SymRecipe - Symfony</div>
        <div class="recipes">
            <h2 class="mt-4 text-warning">Recettes récentes de la communauté</h2>
            <div class="row justify-content-center">
                {% for recipe in recipes %}
                    <a href="{{ path('recipe.show', {id : recipe.id}) }}" class="text-decoration-none col-12 col-lg-6 col-xl-3 mb-4" style="max-width: 20rem;">
                        <div class="card text-white bg-secondary mb-3 h-100">
                            <div class="card-header">Recette n°{{ recipe.id }}</div>
                            <div class="card-body">
                                <h4 class="card-title">{{ recipe.name }}</h4>
                                <p class="card-text">{{ recipe.description|slice(0, 100) ~ '...' }}</p>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
            <a class="masthead-subheading text-decoration-none " href="{{ path('recipe.index.public') }}">Voir toutes les recettes publiques</a>
        </div>
    </div>
{% endblock %}