{% extends "base.html.twig" %}

{% block title%}Symrecipe - {{ recipe.name }}{%  endblock %}

{% block body %}
    <div class="container w-25">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success mt-4">
                {{ message }}
            </div>
        {% endfor %}
        <h1 class="mt-4"> {{ recipe.name }}</h1>
        <div class="recipe_image">
            <img style="max-width: 400px;" src="{{ vich_uploader_asset(recipe, 'imageFile') }}">
        </div>
        <span class="badge bg-primary">Note moyenne : {{ recipe.average == 0 ? 'non noté' : recipe.average|number_format(2,'.',',') }} /5</span>
        <span class="badge bg-primary">Crée le {{ recipe.createdAt|date('d/m/y') }}</span>
        {% if recipe.time %}
            <p class="mt-4">Temps (en minutes) : {{ recipe.time|min_to_our }}</p>
        {% else %}
            <p class="mt-4">Temps non renseigné</p>
        {% endif %}

        {% if recipe.nbPeople %}
            <p class="mt-4">Pour {{ recipe.nbPeople }} personnes</p>
        {% else %}
            <p class="mt-4">Nombre de personnes non renseigné</p>
        {% endif %}

        {% if recipe.difficulty %}
            <p class="mt-4">Difficulté : {{ recipe.difficulty }}/5</p>
        {% else %}
            <p class="mt-4">Difficulté non renseigné</p>
        {% endif %}

        {% if recipe.price %}
            <p class="mt-4">Prix (en €) : {{ recipe.price }}</p>
        {% else %}
            <p class="mt-4">Prix non renseigné</p>
        {% endif %}

        <div class="mt-4">
            {{ recipe.description|raw }}
        </div>
        <p class="mt-4">Ingrédients :</p>
        {% for ingredient in recipe.ingredients %}
            <span class="badge bg-light text-dark">{{ ingredient.name }}</span>
        {% endfor %}
        <div class="fromulaire-note">
            {{ form(form) }}
        </div>

    </div>
{% endblock %}